@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: 'Inter' !important;
  scroll-behavior: smooth;
}
#hamburger {
  color: white;
  transition: color 0.25s, transform 0.25s;
}

#hamburger:hover {
  color: rgb(224,224,224);
}

#hamburger:active {
  color: rgb(192,192,192);
}

.ck-editor__editable {
  min-height: 300px !important;
  height: 300px !important;
}

.ck-editor__editable h1 {
  font-size: 1.75rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}

.ck-editor__editable h2 {
  font-size: 1.35rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}

.ck-editor__editable h3 {
  font-size: 1.15rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}

.ck-editor__editable p {
  font-size: 1rem !important;
  margin-bottom: 0.75rem !important;
  line-height: 1.5 !important;
}

/* .font-inter {
  font-family: 'Inter', sans-serif !important;
} */